name: Release Extension

on:
  release:
    types: [created]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Zip extension
      run: |
        zip -r chrometchi-extension.zip . -x "*.git*" -x ".github/*" -x "src/test/*" -x ".DS_Store" -x "screenshots/*" -x "node_modules/*" -x "package.json" -x "package-lock.json" -x ".eslintrc.json" -x ".gitignore"

    - name: Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: chrometchi-extension.zip
