name: Release Extension

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Zip extension
      run: |
        zip -r chrometchi-extension.zip . -x "*.git*" -x ".github/*" -x "src/test/*" -x ".DS_Store" -x "screenshots/*" -x "node_modules/*" -x "package.json" -x "package-lock.json" -x ".eslintrc.json" -x ".gitignore"

    - name: Upload Release Asset
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ github.event.release.upload_url }}
        asset_path: ./chrometchi-extension.zip
        asset_name: chrometchi-extension.zip
        asset_content_type: application/zip
